body {
    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    margin: 0;

    display: flex;
    gap: 0px;

    background-color: white;
}

@font-face {
    font-family: "Wremena";
    src:
        url("font/Wremena\ Regular.otf") format("otf"),
        url("font/Wremena\ Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Wremena";
    src:
        url("font/Wremena\ Light.otf") format("otf"),
        url("font/Wremena\ Light.woff") format("woff");
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Wremena";
    src:
        url("font/Wremena\ Bold.otf") format("otf"),
        url("font/Wremena\ Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

nav {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
}

nav section {
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
}

a,
p {
    padding-top: 1rem;

    font-size: 1.5rem;
    font-family: Wremena;
    text-decoration: none;
    font-variant-numeric: lining-nums;

    color: black;
}

a:hover {
    font-size: 20pt;
    font-family: Wremena;
    text-decoration: underline 6px;

    color: black;
}

.main__index-column {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    margin: 0;
}

#nav__column--otherside:has(a:hover) {
    background-color: blue;
}

#nav__column--luminescent:has(a:hover) {
    background-color: purple;
}

#nav__column--europe:has(a:hover) {
    background-color: green;
}